
<!-- Modal Confirmacion de eliminar usuario -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Confirmar eliminación</h5>				
					<a th:href="@{'/usuario/lista-usuarios/'}" type="button" class="close" data-dismiss="modal"
						aria-label="Close">x</a>
			</div>
			<div class="modal-body">
				¿Está seguro de que desea eliminar este usuario?
				<input type="hidden" id="userIdHiddenInput" name="userIdHiddenInput" />
			</div>
			<div class="modal-footer">
				<a th:href="@{'/usuario/lista-usuarios'}" class="btn bg-gradient-warning">Cancelar</a>
				<button type="button" class="btn btn bg-gradient-danger" th:onclick="eliminar()">Borrar</button>
			</div>
		</div>
	</div>
</div>

<!-- Fin Modal Confirmacion de eliminar usuario -->

<!-- Modal Confirmacion de eliminar producto -->

<div class="modal fade" id="deleteModalProducto" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Eliminar Producto</h5>
				<a th:href="@{'/producto/lista-productos/'}" type="button" class="close" data-dismiss="modal"
					aria-label="Close">x</a>
			</div>
			<div class="modal-body">
				¿Está seguro de desea eliminar este Producto?
				<input type="hidden" id="productoIdHiddenInput" name="productoIdHiddenInput" />
			</div>
			<div class="modal-footer">
				<a th:href="@{'/producto/lista-productos'}" class="btn bg-gradient-warning">Cancelar</a>
				<button type="button" class="btn btn bg-gradient-danger" th:onclick="eliminar()">Borrar</button>
			</div>
		</div>
	</div>
</div>

<!-- Fin Modal Confirmacion de eliminar producto -->

<!-- Modal Confirmacion de eliminar sugerencia -->

<div class="modal fade" id="deleteModalSugerencia" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Eliminar Sugerencia</h5>
				<a th:href="@{'/sugerencia/lista-sugerencias/'}" type="button" class="close" data-dismiss="modal"
					aria-label="Close">x</a>
				</button>
			</div>
			<div class="modal-body">
				¿Está seguro de desea eliminar esta Sugerencia?
				<input type="hidden" id="sugerenciaIdHiddenInput" name="sugerenciaIdHiddenInput" />
			</div>
			<div class="modal-footer">
				<a th:href="@{'/sugerencia/lista-sugerencias'}" class="btn bg-gradient-warning">Cancelar</a>
				<button type="button" class="btn btn bg-gradient-danger" th:onclick="eliminar()">Borrar</button>
			</div>
		</div>
	</div>
</div>

<!-- Fin Modal Confirmacion de eliminar sugerencia -->

<!-- Modal Confirmacion de eliminar pedido -->

<div class="modal fade" id="deleteModalPedido" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Eliminar Pedido</h5>
				<a th:href="@{'/pedido/lista-pedidos/'}" type="button" class="close" data-dismiss="modal"
					aria-label="Close">x</a>
				</button>
			</div>
			<div class="modal-body">
				¿Está seguro de desea eliminar este Pedido?
				<input type="hidden" id="pedidoIdHiddenInput" name="pedidoIdHiddenInput" />
			</div>
			<div class="modal-footer">
				<a th:href="@{'/pedido/lista-pedidos'}" class="btn bg-gradient-warning">Cancelar</a>
				<button type="button" class="btn btn bg-gradient-danger" th:onclick="eliminar()">Borrar</button>
			</div>
		</div>
	</div>
</div>

<!-- Fin Modal Confirmacion de eliminar pedido -->

